src/test/.DS_Store
src/.DS_Store
.DS_Store
ataccama.iml
/build/
/target/generated-sources
/target/generated-test-sources
/target/maven-archiver
/target/maven-status
/target/surefire-reports
/target/test-classes
/.idea/libraries
.idea/workspace.xml
task.calc.automated.tests.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/dictionaries
.idea/compiler.xml
.idea/codeStyles
.idea/.name
.idea/$CACHE_FILE$
