src/test/.DS_Store
src/.DS_Store
.DS_Store
ataccama.iml
/build/
/target/generated-sources
/target/generated-test-sources
/target/maven-archiver
/target/maven-status
/target/surefire-reports
/target/test-classes
/target/spock-reports
/.idea/libraries
.idea/workspace.xml
